.Lottery {
    width: 100%;
    height: 95vh;
    display: flex;
    position: relative;
    bottom: 100px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.Lottery__container {
    background-color: rgba(255, 176, 57, 0.4);
    display: flex;
    flex-flow: column;
    height: 230px;
    padding-right: 10px;
    justify-content: space-around;
    align-items: center;
}

.Lottery__container button {
    color: #fff;
    border: none;
    background-color: purple;
    border-radius: 8px;
    position: relative;
    width: 150px;
    height: 30px;
    top: 60px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
}

.Lottery__container button:hover {
    cursor: pointer;
}

.Lottery__nums {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}